<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link href="/css/Style1.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript" th:inline="javascript">
	var ctxPath = [[@{/}]];//项目根路径
	
	function addNewProduct(){
		var productName = $("#productName").val();
		var productQuantity = $("#productQuantity").val();
		var productShopPrice = $("#productShopPrice").val();
		var productMarketPrice = $("#productMarketPrice").val();
		var radio=document.getElementsByName("ishot");		
        var ishot=null;
        for (var i=0;i<radio.length;i++) {
            if(radio[i].checked==true) {
            	ishot=radio[i].value;
                break;
            }
        }
        var category2 = $("#category2").val();
        var productDescription = $("#productDescription").val();
		var filev = document.getElementById("productImgFile");
		if (filev == null || filev == "") {
			alert("还没选择文件！");
			return;
		}
		var formData = new FormData($("#productForm")[0]);
		formData.append("productName",productName);
		formData.append("productQuantity",productQuantity);
		formData.append("productShopPrice",productShopPrice);
		formData.append("productMarketPrice",productMarketPrice);
		formData.append("ishot",ishot);
		formData.append("category2",category2);
		formData.append("productDescription",productDescription);
		$.ajax({
			type:"POST",
			url:"/manage/insertProduct",
			cache: false,
			data: formData,
			processData : false,
			contentType : false,
			dataType:"json",
			success:function(data){
				if (data.status == "1") {
					alert("添加成功！");
					window.location.href=ctxPath+"manage/productManage";
				}
				if (data.status == "2") {
					alert("发生异常，请重试");
				}
				if (data.status == "3") {
					alert("图片上传失败");
				}
			},
			error:function(){
				alert("上传失败，请重试！");
			}
		})
	}
	
	
</script>
</head>
<body>
		<form id="productForm" name="Form1" method="post" enctype="multipart/form-data">
			&nbsp;
			<table cellSpacing="1" cellPadding="5" width="100%" align="center" bgColor="#eeeeee" style="border: 1px solid #8ba7e3" border="0">
				<tr>
					<td class="ta_01" align="center" bgColor="#afd1f3" colSpan="4"
						height="26">
						<strong>添加商品</strong>				
					</td>
				</tr>

				<tr>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						 商品名称：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						<input type="text" name="name" value="" id="productName"/>
					</td>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						商品数量：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						<input type="text" name="quantity" value="" id="productQuantity" class="bg"/>
					</td>
				</tr>
				<tr>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						 商城价格：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						<input type="text" name="shop_price" value="" id="productShopPrice"/>
					</td>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						市场价格：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						<input type="text" name="market_price" value="" id="productMarketPrice" class="bg"/>
					</td>
				</tr>
				<tr>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						是否是热门商品：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						<input type="radio" name="ishot" checked="checked" value="1"/>是
						<input type="radio" name="ishot"  value="0"/>否
					</td>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						二级分类：
					</td>
					<td class="ta_01" bgColor="#ffffff">
						
						<select name="csid" id="category2">
							<th:block th:each="category,cstat:${categoryList}">
						   		<option th:text="${category.category2Name}" th:value="${category.category2Id}"></option>
						    </th:block>
						</select>

					</td>
				</tr>
				
				
				<tr>
					<td align="center" bgColor="#f5fafe" class="ta_01">
						商品图片：
					</td>
					<td class="ta_01" bgColor="#ffffff" colSpan="3">
						<input type="file" name="imgFile" size="30" value="" id="productImgFile"/>
					</td>
				</tr>
				<tr>
					<td class="ta_01" align="center" bgColor="#f5fafe">
						商品描述：
					</td>
					<td class="ta_01" bgColor="#ffffff" colSpan="3">
						<textarea name="pdesc" cols="30" rows="3" id="productDescription" style="WIDTH: 96%"></textarea>
					</td>
				</tr>
				<tr>
					<td align="center" colSpan="4" class="sep1">
						<img src="/images/shim.gif"/>
					</td>
				</tr>


				<tr>
					<td class="ta_01" style="WIDTH: 100%" align="center"
						bgColor="#f5fafe" colSpan="4">
						<button type="button" id="add_button" onclick="addNewProduct()" name="submit" value="&#30830;&#23450;" class="button_ok">
							&#30830;&#23450;
						</button>

						<font face="宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
						<button type="reset" value="&#37325;&#32622;" class="button_cancel">&#37325;&#32622;</button>

						<font face="宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
						<input class="button_ok" type="button" onclick="history.go(-1)" value="返回"/>
						<span id="Label1"></span>
					</td>
				</tr>
			</table>
		</form>
</body>
</html>