<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>用户权限管理</title>
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript" th:inline="javascript">
	var ctxPath = [[@{/}]];//项目根路径
	
	function deletePermission(roleId,permissionId) {
		if (confirm("确认删除该权限吗？")) {
			$.ajax({
				type:"GET",
				url:ctxPath+"manage/deletePermission?roleId="+roleId+"&permissionId="+permissionId,
				data:{
					
				},
				dataType:"json",
				success:function(data){
					var status = data.status;
					if (status == "1") {
						alert("删除成功！");
						window.location.href=ctxPath+"manage/permissionManage";
					}
					if (status == "0") {
						alert("删除失败，请重试！");
					}
				},
				error:function (e) {
					alert("error");
				}
			})
		}
		return;
	}
	
	function addPermission(roleId,permissionId){
		if (confirm("确认添加该权限吗？")) {
			$.ajax({
				type:"GET",
				url:ctxPath+"manage/addPermission?roleId="+roleId+"&permissionId="+permissionId,
				data:{
					
				},
				dataType:"json",
				success:function(data){
					var status = data.status;
					if (status == "1") {
						alert("添加成功！");
						window.location.href=ctxPath+"manage/permissionManage";					}
					if (status == "0") {
						alert("添加失败，请重试！");
					}
				},
				error:function (e) {
					alert("error");
				}
			})
		}
		return;
		
	}
	
	function createPermission(roleId){
		var permission = $("#permission_name").val();
		var description = $("#permission_description").val();
		if (permission == "") {
			alert("权限名不能为空！");
			return;
		}
		if (description == "") {
			alert("权限描述不能为空！");
			return;
		}
		if (confirm("确认新增该权限吗？")) {
			$.ajax({
				type:"GET",
				url:ctxPath+"manage/createPermission?roleId="+roleId+"&permission="+permission+"&description="+description,
				data:{
					
				},
				dataType:"json",
				success:function(data){
					var status = data.status;
					if (status == "1") {
						alert("新增权限成功！");
						window.location.href=ctxPath+"manage/permissionManage";
					}
					if (status == "3") {
						alert("权限已存在！");
					}
					if (status == "2") {
						alert("新增失败，请重试！");
					}
				},
				error:function (e) {
					alert("error");
				}
			})
		}
		return;
	}
	
	function updatePermission(roleId,permissionId,permission,description){
		window.location.href=ctxPath+"manage/toUpdatePermission?roleId="+roleId+"&permissionId="+permissionId+"&permission="+permission+"&description="+description;
	}
	
	function deletePermissionTotally(roleId,permissionId){
		if (confirm("确认完全删除该权限吗？")) {
			$.ajax({
				type:"GET",
				url:ctxPath+"manage/deletePermissionTotally?roleId="+roleId+"&permissionId="+permissionId,
				data:{
					
				},
				dataType:"json",
				success:function(data){
					var status = data.status;
					if (status == "1") {
						alert("删除权限成功！");
						window.location.href=ctxPath+"manage/permissionManage";
					}
					
					if (status == "2") {
						alert("删除失败，请重试！");
					}
				},
				error:function (e) {
					alert("error");
				}
			})
		}
	}
</script>
</head>
<body>
	<div id="main">
		<div id="class">
			<select name="roleId">
				<option value="2">用户</option>
				<!-- <option value="1">管理员</option> -->
			</select>
		</div>
		<div id="permission">
			<h3>已有权限>></h3>
			<table id="table_rolePermission" border="1">
				<thead>
					<tr>
						<td>角色id</td>
						<td>角色</td>
						<td>权限id</td>
						<td>权限</td>
						<td>权限描述</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="permission,permstat:${permissionList}">
						<tr>
							<td>2</td>
							<td>用户</td>
							<td th:text="${permission.permissionId }"></td>
							<td th:text="${permission.permission }"></td>
							<td th:text="${permission.description }"></td>
							<td>
								<a href="javascript:void(0)" th:onclick="'javascript:updatePermission(2,'+${permission.permissionId}+',\''+${permission.permission }+'\',\''+${permission.description }+'\')'">修改</a>
								<a href="javascript:void(0)" th:onclick="'javascript:deletePermission(2,'+${permission.permissionId}+')'">删除</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<h3>暂无权限>></h3>
			
			<table id="table_addRolePermission" border="1">
				<thead>
					<tr>
						<td>角色id</td>
						<td>角色</td>
						<td>权限id</td>
						<td>权限</td>
						<td>权限描述</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="unPermission,upstat:${unPermissionList}">
						<tr>
							<td>2</td>
							<td>用户</td>
							<td th:text="${unPermission.permissionId }"></td>
							<td th:text="${unPermission.permission }"></td>
							<td th:text="${unPermission.description }"></td>
							<td>
								<a href="#" th:onclick="'javascript:addPermission(2,'+${unPermission.permissionId}+')'">添加到已有</a>
								<a href="#" th:onclick="'javascript:updatePermission(2,'+${unPermission.permissionId}+',\''+${unPermission.permission}+'\',\''+${unPermission.description}+'\')'">修改</a>
								<a href="#" th:onclick="'javascript:deletePermissionTotally(2,'+${unPermission.permissionId}+')'">彻底删除</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<form id="createPermission_form">
				<table>
					<tr>
						<td>权限名：</td>
						<td><input id="permission_name" name="permission" type="text"/></td>
					</tr>
					<tr>
						<td>权限描述</td>
						<td><input id="permission_description" name="description" type="text"/></td>
					</tr>
					<tr>
						<td><input type="button" value="新增权限" onclick="createPermission(2)"/></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>