<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript" th:inline="javascript">
	var ctxPath = [[@{/}]];//项目根路径
	
	window.onload = function(){
		var roleId = [[${rolePermission.roleId}]];
		var permissionId = [[${rolePermission.permissionId}]];
		var permission = [[${rolePermission.permission}]];
		var description = [[${rolePermission.description}]];
		$("#roleId").val(roleId);	
		$("#permission").val(permission);
		$("#description").val(description);
		$("#permissionId").val(permissionId);
	}

	function updatePermission(){
		var permissionId = $("#permissionId").val();
		var permission = $("#permission").val();
		var description = $("#description").val();
		$.ajax({
			type:"GET",
			url:ctxPath+"manage/updatePermission?permissionId="+permissionId+"&permission="+permission+"&description="+description,
			data:{
				
			},
			dataType:"json",
			success:function(data){
				var status = data.status;
				if (status == "1") {
					alert("修改权限成功！");
					window.location.href=ctxPath+"manage/permissionManage";
				}
				if (status == "2") {
					alert("修改失败，请重试！");
				}
				if (status == "3") {
					alert("权限已存在！");
				}
			},
			error:function (e) {
				alert("error");
			}
		})
	}
</script>
</head>
<body>
	<form>
		<table>
			<tr>
				<td>角色id:</td>
				<td><input id="roleId" name="roleId" type="text" readonly="readonly"/></td>
			</tr>
			<tr>
				<td>权限id:</td>
				<td><input id="permissionId" name="permissionId" type="text" readonly="readonly"/></td>
			</tr>
			<tr>
				<td>权限:</td>
				<td><input id="permission" name="permission" type="text"/></td>
			</tr>
			<tr>
				<td>权限描述:</td>
				<td><input id="description" name="description" type="text"/></td>
				
			</tr>
			<tr>
				<td><input type="button" onclick="updatePermission()" value="修改"/></td>
			</tr>
		</table>
	</form>
	<a href="/manage/permissionManage">返回</a>

</body>
</html>